/* slide2 */

.slide2 .user_image {
  background: url(../image/아바타2.png);
  width: 43px;
  height: 43px;
  margin-right: 64px;
}
.slide2 header .index_h3 {
  /* width: 86px; */
  height: 27px;
  margin-right: 64px;
}
.slide2 .save_list .save_list_plusbtn {
  margin: 11px 6px 0 36px;
}

/* slide3 */
.slide3 .user_image {
  background: url(../image/아바타3.png);
  width: 43px;
  height: 43px;
  margin-right: 64px;
}
.slide3 header .index_h3 {
  /* width: 86px; */
  height: 27px;
  margin-right: 64px;
}
.slide3 .save_list .save_list_plusbtn {
  margin: 11px 6px 0 36px;
}
