@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap");

/* main */
main {
  background-color: #fff;
  height: 812px;
}
/* scroll */

main .top-bar {
  background-color: rgba(255, 255, 255, 1);
}

/* header */
header {
  width: 332px;
  height: 69px;
  position: relative;
  margin-bottom: 33px;
}
header .close_btn {
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  position: absolute;
  right: 0;
  top: 0;
}
/* header .close_btn a{
  width: ;
} */
header h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  position: absolute;
  left: 0;
  bottom: 0;
  letter-spacing: -0.24px;
}

/* write btn */
.article1 {
  display: block;
  /* display: none; */
}
.article2 {
  /* display: block; */
  display: none;
}
.article3 {
  display: none;
  /* display: block; */
}
.write-btn {
  width: 317px;
  height: 47px;
  font-size: 16px;
  font-weight: 300;
  line-height: 47px;
  text-align: center;
  border: 1px solid #858585;
  border-radius: 4px;
  margin: 0 0 44px 29px;
  cursor: pointer;
}
.write-btn:hover {
  color: #fff;
  background-color: #858585;
  transition: 0.3s;
}

/* transfer 1 */
/*account list */
.account_list .account_list_inner {
  width: 317px;
  height: 54px;
  display: flex;
  margin: 0 auto 17px;
}
.account_list .account_list_inner img:first-child {
  width: 54px;
  height: 54px;
  margin-right: 17px;
}
.account_list .account_list_inner div {
  width: 222px;
}
.account_list .account_list_inner div .account_user_name {
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
}
.account_list .account_list_inner div .account_number {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
.account_list .account_list_inner img:last-child {
  width: 24px;
  height: 24px;
  margin-top: 14px;
}

/* transfer 2 . html */
.article2_account_user_name {
  font-size: 18px;
  font-weight: 300;

  /* margin-top: ; */
}
.article2_account_number {
  font-size: 16px;
  font-weight: 300;
}
.account_transfer_box .account_transfer_amount {
  width: 316px;
  height: 53px;
  border-bottom: 3px solid #ff5f00;
  margin: 0 0 29px 29px;
}
.account_transfer_amount > div {
  display: flex;
  width: 316px;
}
.account_transfer_amount .numInput {
  display: inline-block;
  width: 256px;
  height: 53px;
  border: none;
  font-size: 36px;
  font-weight: 500;
  /* background-color: #858585; */
  margin: 0 14px 0 0;
  text-align: right;
}
.account_transfer_box .account_transfer_amount p {
  width: 23px;
  height: 36px;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  margin: 11px 0 6px 0;
}
.account_transfer_box > p {
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  text-align: center;
  margin: 0 0 49px 0;
}
.account_transfer_num_box {
  display: flex;
  align-content: stretch;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
}
.account_transfer_num_box div {
  cursor: pointer;
}
.account_transfer_num_box div:hover {
  text-shadow: 2px 2px 2px black;
  font-size: 40px;
}
.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine,
.zero {
  width: 22px;
  height: 53px;
  font-weight: 700;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  color: #858585;
  flex-basis: 30%;
  margin-bottom: 24px;
}
.twozero {
  width: 43px;
  height: 53px;
  font-weight: 700;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  color: #858585;
  flex-basis: 30%;
}

.num_del {
  background: url(../image/이체-back.png) no-repeat;
  width: 43px;
  height: 53px;
  flex-basis: 30%;
  background-position: center center;
}
.next {
  display: none;
  width: 377px;
  height: 48px;
  text-align: center;
  line-height: 48px;
  font-size: 24px;
  font-weight: 300;
  color: #fff;
  background-color: #ff5f00;
  margin-top: -10px;
  cursor: pointer;
}

/* article 3  이체완료 페이지 */

.article3 .article3_sec {
  width: 377px;
  height: 631px;
}
.article3 .article3_sec .article3_box {
}
.article3 .article3_sec .article3_box {
  width: 314px;
  height: 430px;
  /* line-height: 631px; */
  margin: 201px 0 0 63px;
  font-size: 36px;
  font-weight: 300;
}
